.icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
    .footer {
        position: static;
    };
}

.cube {
    height: 400px;
    margin: 0 auto;
    width: 400px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.cube .face {
    background-color: rgba(50, 50, 50, 0.85);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#505050', EndColorStr='#505050');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#505050', EndColorStr='#505050')";
    border: 1px solid #555;
    border-radius: 3px;
    color: #999;
    font-size: 1em;
    height: 360px;
    line-height: 1em;
    padding: 20px;
    position: absolute;
    overflow: auto;
    width: 360px;
}

.cube .face.one {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
}

.cube .face.two {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
}

.cube .face.three {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
}

.cube .face.four {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
}

.cube .face.five {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
}

.cube .face.six {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

.cube .face p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.cube .face .nogap {
    margin: 0;
}

.cube h2 {
    color: #bbb;
}

.transition {
    transition: transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
}

.berkshire {
    color: #666;
    font-family: "Berkshire Swash";
}

.masthead .container {
    margin-top: 10px;
}

.masthead .container * {
    display: inline-block;
}

.masthead .container img {
    margin: -25px 0 0 10px;
}

#content {
    padding: 0 0 80px;
}

#content .main {
    padding-top: 90px;
}

.cube_wrapper {
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective: 800;
    -moz-perspective-origin: 50% 200px;
}

#mycube {
    display: none;
}

.warning {
    background-color: #ae0000;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}

.success {
    color: #32cd32;
    font-size: 18px;
    font-weight: bold;
}

#no_css3 {
    display: none;
}

#companies {
    list-style: none;
    margin: 0;
}

#companies li {
    display: inline;
}

#companies li a {
    background-image: url("../img/companies.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px 15px 5px 0;
}

.abb {
    width: 96px;
    height: 38px;
    background-position: -185px -70px;
}

.ansible {
    width: 158px;
    height: 21px;
    background-position: -101px -110px;
}

.autodesk {
    width: 40px;
    height: 39px;
    background-position: -144px -70px;
}

.chase {
    width: 41px;
    height: 39px;
    background-position: -102px -70px;
}

.htc {
    width: 101px;
    height: 34px;
    background-position: 0 -46px;
}

.intel {
    width: 67px;
    height: 44px;
    background-position: 0 0;
}

.jnj {
    width: 153px;
    height: 27px;
    background-position: -114px -42px;
}

.kia {
    width: 100px;
    height: 50px;
    background-position: 0 -81px;
}

.microsoft {
    width: 45px;
    height: 45px;
    background-position: -68px 0;
}

.mni {
    width: 57px;
    height: 41px;
    background-position: -230px 0;
}

.otrino {
    width: 115px;
    height: 41px;
    background-position: -114px 0;
}

#contact {
    margin-top: 20px;
}

#contact input,
#contact textarea {
    color: #000;
    margin-left: 20px;
    margin-top: 10px;
}

#contact textarea {
    resize: none;
}

#contact .submit {
    float: right;
}